body {
  padding-top: 120px;
  font-size: 1.15em;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222; }

.container {
  width: 500px;
  margin: 0 auto; }

a {
  color: #444; }

a:link, a:visited {
  color: slategray;
  text-decoration: none;
  border-bottom: 1px dotted slategray; }
 
a:hover {
  color: #444; }

small {
  color: #999;
  font-style: italic;
}

p {
  font-size: 0.75em;
  line-height: 25px;
}
